.outer_nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.nav {
	width: 96vw;
	height: calc(10vh - 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--fg-bg-color);
	color: var(--fg-color);
	position: fixed;
	padding: 0 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;

	top: 10px;
	left: 1vw;
	z-index: 1000;

	box-shadow: 5px -4px 38px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 5px -4px 38px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px -4px 38px 0px rgba(0, 0, 0, 0.75);
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	min-width: 50%;
}

.row:last-child {
	justify-content: flex-end;
	gap: 20px;
}

.row_secondary {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	height: 100%;
}

.balance {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.balance > :first-child {
	margin-right: 1em !important;
}

.button {
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
	text-align: center;
	border: none;
	cursor: pointer;
}
