:root {
	--bg-bg-color: #0e0f12;
	--bg-color: white;

	--fg-bg-color: #1a1d21;
	--fg-color: white;

	--primary-bg-color: #9442e1;
	--primary-color: white;
}

.bg {
	background-color: var(--bg-color);
	color: var(--bg-color);
}

.fg {
	background-color: var(--fg-bg-color);
	color: var(--fg-color);
}
